<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pickplace_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import pickplace_arm urdf file -->
    <xacro:include filename="$(find pickplace_arm_description)/urdf/pickplace_arm.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="pickplace_arm.ros2_control.xacro" />


    <xacro:pickplace_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
